/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

#AgePage #Header {
  width: 100%;
  height: 6.5967016491754125vh;
  min-height: 44px;
  text-align: center;
  line-height: 6.5967016491754125vh;
  border-bottom: 1px solid #e6e6e6;
  padding-top: 2.9985007496251876vh;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

/* font 정의 */
@font-face {
  font-family: "notoSans";
  src: url("./util/fonts/NotoSansCJKkr-Regular.otf");
}

@font-face {
  font-family: "notoSansBold";
  src: url("./util/fonts/NotoSansCJKkr-Bold.otf");
}

@font-face {
  font-family: "notoSansLight";
  src: url("./util/fonts/NotoSansCJKkr-Light.otf");
}

#AgePage #Header .prev {
  display: inline-block;
  width: 2.9985007496251876vh;
  height: 2.9985007496251876vh;
  min-width: 20px;
  min-height: 20px;
  background: url(./util/icons/ic_arrowback_20x20.svg) no-repeat center;
  position: absolute;
  left: 2.9985007496251876vh;
}

#AgePage #Header h1 {
  display: inline-block;
  color: #000000;
  font-size: 2.5487256371814095vh;
  font-weight: 700;
}

#AgePage #Content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#AgePage #Content h6 {
  display: inline-block;
  color: #000000;
  font-size: 2.9985007496251876vh;
  font-weight: 700;
  margin-top: 14.24287856071964vh;
  margin-bottom: 5.997001499250375vh;
  height: 4.497751124437781vh;
}

#AgePage #Content .input-wrapper input {
  margin-top: 5.997001499250375vh;
  border-radius: 10px;
  background-color: #ffffff;
  width: 29.985007496251875vh;
  height: 10.494752623688155vh;
  min-width: 200px;
  min-height: 70px;
  padding: 0 5.997001499250375vh 0 11.99400299850075vh;
  font-size: 4.7976011994003vh;
  color: #006fad;
  box-sizing: border-box;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.2);
  outline: none;
  border: none;
  font-family: "notoSansBold";
  -webkit-appearance: none;
}

#AgePage #Content .input-wrapper input:focus,
#AgePage #Content .input-wrapper input:active {
  outline: none;
  border: none;
}

#AgePage #Content .input-wrapper p {
  color: #ff2525;
  font-size: 2.39880059970015vh;
  font-family: "notoSansLight";
  margin-top: 1.4992503748125938vh;
  visibility: hidden;
  transition: all 0.2s;
}

#AgePage #Content .input-wrapper p.on {
  visibility: visible;
}

#AgePage #Footer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 23.68815592203898vh auto 0;
}

#AgePage #Footer button {
  cursor: pointer;
  outline: none;
  border: none;
  background-color: #d9d9d9;
  color: #ffffff;
  font-size: 2.9985007496251876vh;
  width: 50.37481259370315vh;
  height: 8.995502248875562vh;
  min-width: 336px;
  min-height: 60px;
  border-radius: 10.494752623688155vh;
  box-shadow: none;
}

#AgePage #Footer button.clicked {
  background-color: #006fad;
  color: #fff;
}
